body {

}
nav {
	position: relative;
}
#logo {
	margin: 10px auto 10px auto;
	width: 150px;
	padding-top: 10px; 
	/*background-color: yellow;*/
}

#navigation {
	width: 100%;
	position: absolute;
	top:50%;
	transform: translate(0, -50%);
	text-align: center;
}
#navigation > div {
	width: 50%;
	float: left;
}
a.links {
	font-size: 30px;
	font-family: Verdana;
	color: black;
	text-decoration: none;
}

a.links:hover {
	text-decoration: underline;
	color: #FF533F;
}

#main_body {
	background-color: #FF533F;
	border-radius: 30px;
	width: 90%;
	height: 300px;
	margin: 0px auto 0px auto;
	position: relative;
}
#search_box{
	margin: 0px auto 0px auto;
	width: 100%;
	height: 40%;
	padding-top: 30px;
	/*background-color: blue;*/
}

#search {
	text-align: center;
}

#about_us {
	position: absolute;
	top: 63%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-top: 30px;
	width: 50%;
	height: 200px;
	margin: 0px auto 0px auto;
	background-color: white;
	border-radius: 10px;
}

#about_image {
	float: left;
	width: 175px;
	height: 200px;
	padding-right: 20px;
	padding-left: 40px;
}

#info {
	padding-right: 40px;
	line-height: 18px;
	text-align: justify;
	letter-spacing: .2px;

}

p {
	font-family: Verdana;
	font-size: 15px;
	color: black;
}

h5 {
	padding: 5px;
	color: white;
	font-family: Verdana; 
	font-size: 40px;
	text-align: center;
}

h2 {
	color: white;
	font-family: Verdana; 
	font-size: 40px;
	text-align: center;
}

input[type=text] {
	 width: 50%;
	 height: 30px;
	 border-radius: 10px;
	 outline: none; 
}

input[type=text]:focus {
    background-color: none;
	outline: none; 
}

input[type=submit] {
	 width: 20%;
	 height: 35px;
	 background-color: #FFEA66;
	 border-radius: 10px;
	 font-family: Verdana;
	 font-size: 15px; 
	 font-weight: bold;
	 outline: none; 
}

input[type=submit]:focus {
	outline: none; 
}

/*Loader*/
.loader {
	margin: 10px auto 10px auto;
    background-image:url("../images/Pokeball_Loader.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Modal CSS code*/
.modal-wrapper1{
  position: fixed;
  top:0;
  left:0;

  background-color: rgba(155,155,155,0.6);

  width:100%;
  height:100%;
  padding: 0;
  margin: 0;

  display: none;
}

.modal-wrapper2{
  position: fixed;
  top:0;
  left:0;

  background-color: rgba(155,155,155,0.6);

  width:100%;
  height:100%;
  padding: 0;
  margin: 0;

  display: none;
}

.modal{
  position: relative;
  top: 30%;
  width: 500px;

  padding: 30px;
  margin: 0 auto;

  background-color: white;

  border-radius: 10px;
}

.modal-on{
  /*overflow: hidden;*/
}

.exit{
  position: absolute;
  top: 2%;
  right: 2%;
}

#sideimage {
	float: left;
	width: 20%;
	right: 20%;
	padding-right: 90px;
	padding-left: 90px;
}
#gif {
	text-align: left;
	background-color: orange;
	padding: 2px;
	border-radius: 5px;
	display: none;
}
#modal-info {
	text-align: left;

}
#types > span {
	padding: 2px;
	border-radius: 5px;
	margin-left: 5px;
}