body {

}



#logo {
	margin: 10px auto 10px auto;
	width: 150px;
	padding-top: 10px; 
	/*background-color: yellow;*/
}

#navigation {
	width: 100%;
	margin: 0px auto 0px auto;
	padding-bottom: 20px;
	text-align: center;
}

#main_body {
	background-color: #FF533F;
	border-radius: 30px;
	width: 90%;
	height: 300px;
	margin: 0px auto 0px auto;
}

#search_box{
	margin: 0px auto 0px auto;
	width: 100%;
	height: 40%;
	padding-top: 30px;
	/*background-color: blue;*/
}

#search {
	text-align: center;
}

li {
	display: inline; 
	font-family: Verdana; 
	list-style: none;
	font-style: none;
}

a.links {
	font-size: 30px;
	margin: 200px;
	color: black;
	text-decoration: none;
}

a.links:hover {
	text-decoration: underline;
	color: #FF533F;
}

h2 {
	color: white;
	font-family: Verdana; 
	font-size: 40px;
	text-align: center;
}

input[type=text] {
	 width: 50%;
	 height: 30px;
	 border-radius: 10px;
	 outline: none; 
}

input[type=text]:focus {
    background-color: none;
	outline: none; 
}

input[type=submit] {
	 width: 20%;
	 height: 35px;
	 background-color: #FFEA66;
	 border-radius: 10px;
	 font-family: Verdana;
	 font-size: 15px; 
	 font-weight: bold;
	 outline: none; 
}

input[type=submit]:focus {
	outline: none; 
}

/*Modal CSS code*/

.modal-wrapper{
  position: fixed;
  top:0;
  left:0;

  background-color: rgba(155,155,155,0.6);

  width:100%;
  height:100%;
  padding: 0;
  margin: 0;

  display: none;
}

.modal{
  position: relative;
  top: 50%;
  width: 500px;

  padding: 30px;
  margin: 0 auto;

  background-color: white;

  border-radius: 10px;
}

.modal-on{
  /*overflow: hidden;*/
}

.exit{
  float: right;
}

#sideimage {
	float: left;
	width: 20%;
	right: 20%;
}
